<div class="card">
    <div class="card-header bg-dark text-light">Level 2</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
        <ol>
            <li>...all teams in the Atlantic Soccer Conference</li>
            <li>...all (current) players on the Boston Penguins (Hint: Boston is the Location, Penguins is the TeamName)</li>
            <li>...all (current) players in the International Collegiate Baseball Conference</li>
            <li>...all (current) players in the American Conference of Amateur Football with last name "Lopez"</li>
            <li>...all football players</li>
            <li>...all teams with a (current) player named "Sophia"</li>
            <li>...all leagues with a (current) player named "Sophia"</li>
            <li>...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</li>
        </ol>
    </div>


    <table class="table table-striped">
        <tr>
            <th>League Name</th>
            <th>Team Name</th>
        </tr>
        @foreach (var t in @ViewBag.AtlanticConferenceTeams)



        {
            <tr>
                <td>@t.CurrLeague.Name</td>
                <td>@t.TeamName</td>
            </tr>

        }
    </table>
    <table class="table table-striped">
        <tr>
            <th>Team Name and Location</th>
            <th>Player Name</th>
        </tr>
        @foreach (var p in @ViewBag.BostonPenguinsPlayers.CurrentPlayers)



        {
            <tr>
                <td>@ViewBag.BostonPenguinsPlayers.Location @ViewBag.BostonPenguinsPlayers.TeamName</td>
                <td>@p.FirstName @p.LastName</td>
            </tr>

        }
    </table>
    <table class="table table-striped">
        <tr>
            <th>League Name</th>
            <th>Player Name</th>
        </tr>
        @foreach (var p in @ViewBag.IntCollegiateBaseballConfPlayers.CurrentPlayers)
        {
            @if (p.LastName == "Lopez")

                { 
            <tr>
                <td>@ViewBag.IntCollegiateBaseballConfPlayers.TeamName</td>
                <td>@p.FirstName @p.LastName</td>
            </tr>

            }

        }
    </table>
    <table class="table table-striped">
        <tr>
            <th>League Name</th>
            <th>Player Name</th>
        </tr>
        @foreach (var p in @ViewBag.USAmateurFootballPlayers.CurrentPlayers)
        {
            <tr>
                <td>@ViewBag.USAmateurFootballPlayers.TeamName</td>
                <td>@p.FirstName @p.LastName</td>
            </tr>
        }
    </table>
<table class="table table-striped">
        <tr>
            <th>Sport</th>
            <th>Player Name</th>
        </tr>
        @foreach (var p in @ViewBag.FootballPlayers)
        {
            <tr>
                <td>Football</td>
                <td>@p.FirstName @p.LastName</td>
            </tr>
        }
    </table>
    <table class="table table-striped">
        <tr>
            <th>Team Name</th>
        </tr>
        @foreach (var t in @ViewBag.TeamsWithSophia)
        {
            <tr>
                <td>@t.TeamName </td>
            </tr>
        }
    </table>
    <table class="table table-striped">
        <tr>
            <th>League Name</th>
        </tr>
        @foreach (var l in @ViewBag.LeaguesWithSophia)
        {
            <tr>
                <td>@l.Name </td>
            </tr>

        }
    </table>
    <table class="table table-striped">
        <tr>
            <th>Player Name</th>
        </tr>
        @foreach (var p in @ViewBag.LeaguesWithSophia)
        {
            if(@p.CurrentTeam.TeamName != "Roughriders")
            {
            <tr>
                <td>@p.FirstName @p.LastName </td>
            </tr>
            }

        }
    </table>
</div>