@* ViewBag.CurrentUser *@

@{
    ViewData["Title"] = "Login Page";
}

<div>
    <h1 class="text-primary mb-5">Welcome back, @ViewBag.CurrentUser.FirstName!</h1>
    <div>
        <h1 class="text-primary">Notifications</h1>
        <div id="loop" class="rounded bg-dark text-light p-3">
            @foreach (Message m in @ViewBag.UserMessages)
            {
                <div class="message-group mt-2 col-10 rounded bg-primary">
                    <a href="/view-message/@m.MessageId">
                        <div class="d-inline-flex justify-content-between text-white">
                            <p class="mr-3">@m.CreatedAt.ToString("h:mm tt") @m.Sender.FullName</p>
                            <p class="mr-3">@m.Subject</p>
                            <p class="mr-3">@m.Priority</p>
                        </div>
                    </a>
                </div>
            }
        </div>
        <nav>
            <ul class="pagination pagination-lg">
                <li class="disabled mr-3">
                    <a id="previous-page" href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            </ul>
        </nav>
        <partial name="MessageFormPartial" />
    </div>
    <h1 class="text-primary">Project Board</h1>
    <div class="bg-secondary rounded p-3">
        <div class="d-flex flex-wrap m-1">
            @foreach (Project p in @ViewBag.UserProjects)
            {
                <div class="col-2 rounded-sm bg-white border-bottom border-right border-secondary p-2 mr-3">
                    <h4><a class="text-dark" href="/project-details/@p.ProjectId">@p.Title</a></h4>
                    <p>Days Remaining: @((@p.ProjectDueDate - DateTime.Now).Days)</p>
                    <p>Progress bar</p>
                    <p><a href="/edit/project/@p.ProjectId">Edit</a> | <a>Archive</a></p>
                </div>
            }
            <div id="addProject" class="col-2 rounded-sm border border-white text-white p-2 mr-3">
                <a href="/project-form">
                    <h4 id="addProjectLetters" class="text-white text-center mt-3">+ Add Project</h4>
                </a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#addProject").hover(
                function () {
                    $("#addProject").addClass("bg-white text-dark");
                    $("#addProject").removeClass("text-white");
                    $("#addProjectLetters").addClass("text-dark");
                    $("#addProjectLetters").removeClass("text-white");
                }, function () {
                    $("#addProject").removeClass("bg-white text-dark");
                    $("#addProject").addClass("text-white");
                    $("#addProjectLetters").removeClass("text-dark");
                    $("#addProjectLetters").addClass("text-white");
                }
            );
            var numberOfMessages = $('#loop .message-group').length;
            var limitPerPage = 5;
            $("#loop .message-group:gt(" + (limitPerPage - 1) + ")").hide();
            var totalPages = Math.ceil(numberOfMessages / limitPerPage);
            $(".pagination").append("<li class='current-page active mr-3'><a href='javascript:void(0)'> 1 </a></li>");
            for (let i = 2; i <= totalPages; i++) {
                $(".pagination").append("<li class='current-page mr-3'><a href='javascript:void(0)'>" + i + "</a></li>");
            }
            $(".pagination").append("<li id='next-page' class='disabled mr-3'><a href='javascript:void(0)' aria-label='Next'><span aria-hidden='true'>&raquo</span><span class='sr-only'>Next</span></a></li>");
            $(".pagination li.current-page").on("click", function () {
                if ($(this).hasClass("active")) {
                    return false;
                } else {
                    let currentPage = $(this).index();
                    $('.pagination li').removeClass("active");
                    $(this).addClass("active");
                    $("#loop .message-group").hide();
                    let grandTotal = limitPerPage * currentPage;
                    let start = grandTotal - limitPerPage;
                    for (let i = start; i < grandTotal; i++) {
                        $("#loop .message-group:eq(" + i + ")").show();
                    }
                }
            });
            $("#next-page").on("click", function () {
                let currentPage = $(".pagination li.active").index();
                if (currentPage === totalPages) {
                    return false;
                } else {
                    currentPage++;
                    $('.pagination li').removeClass("active");
                    $("#loop .message-group").hide();
                    let grandTotal = limitPerPage * currentPage;
                    let start = grandTotal - limitPerPage;
                    for (let i = start; i < grandTotal; i++) {
                        $("#loop .message-group:eq(" + i + ")").show();
                    }
                    $(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass("active");
                }
            })
            $("#previous-page").on("click", function () {
                let currentPage = $(".pagination li.active").index();
                if (currentPage === 1) {
                    return false;
                } else {
                    currentPage--;
                    $('.pagination li').removeClass("active");
                    $("#loop .message-group").hide();
                    let grandTotal = limitPerPage * currentPage;
                    let start = grandTotal - limitPerPage;
                    for (let i = start; i < grandTotal; i++) {
                        $("#loop .message-group:eq(" + i + ")").show();
                    }
                    $(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass("active");
                }
            })
        });
    </script>
</div>
@* @if(@m.CommentsOnMessage != null)
    {
    @foreach(Comment c in @m.CommentsOnMessage)
    {
    <div class="text-right col-10 rounded bg-success ml-auto">
    <p>@c.CreatedAt.ToString("h:mm tt")</p>
    <p>@c.CommentContent</p>
    <p>- @c.CreatorOfComment.FirstName</p>
    </div>
    }
    }
    <div class="mb-auto ml-auto">
    <form action="/create-comment/@m.MessageId" method="post" >
    <partial name="CommentFormPartial" />
    </form>
    </div> *@