<div class="text-center">
    <h1 class="display-4">
        <div>
            <a href="/">Chefs</a> | Dishes
        </div>
    </h1>
    <div>
        <a href="/dish-form">Add a Dish</a>
    </div>
    <h3>Yum, take a look at our tasty dishes!</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Chef</th>
                    <th>Tastiness</th>
                    <th>Calories</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in @ViewBag.Dishes)
                {
                    <tr>
                        <td>@d.DishName</td>
                        <td>@d.Creator.FirstName @d.Creator.LastName</td>
                        <td>@d.Tastiness</td>
                        <td>@d.Calories</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>