@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <div>
            Chefs | <a href="/dishes">Dishes</a>
        </div>
    </h1>
    <div>
        <a href="/chef-form">Add a Chef</a>
    </div>
    <h3>Check out our roster of Chefs!</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th># of Dishes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in @ViewBag.Chefs)
                {
                    int age = DateTime.Now.Year - @c.DateOfBirth.Year;
                    <tr>
                        <td>@c.FirstName @c.LastName</td>
                        <td>@age</td>
                        <td>@c.CreatedDishes.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
