@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <div>
            Chefs | <a href="/dishes">Dishes</a>
        </div>
    </h1>
    <div>
        <a href="/chef-form">Add a Chef</a>
    </div>
    <h3>Check out our roster of Chefs!</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach (var c in @ViewBag.Chefs)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.DateOfBirth</td>
                <td>@c.CreatedDishes.Count</td>
            </tr>
        }
    </table>
</div>
