@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.currentUser.FirstName @ViewBag.currentUser.LastName!</h1>
    <a href="/logout">Logout</a>
    <div>
        <partial name="TransactionFormPartial" />
    </div>
    <div>
        <p>Current Balance: @ViewBag.currentUser.CurrentBalance.ToString("0.00")</p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in @ViewBag.currentUser.UserHistory)
                {
                    <tr>
                        <td>$@t.Amount.ToString("0.00")</td>
                        <td>@t.CreatedAt.ToString("d")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>