@* ViewBag.ThisHobby *@
@* ViewBag.CurrentUser *@
@* ViewBag.SignedUp *@

@{
    ViewData["Title"] = "@ViewBag.ThisHobby.Name";
}

<div>
    <h1>@ViewBag.ThisHobby.Name</h1>
    <div>
        <h3>Description: </h3>
        <p>@ViewBag.ThisHobby.Description</p>
    </div>
</div>
<div>
    <div>
        <h3>@ViewBag.ThisHobby.Name Enthusiasts:</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Proficiency</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Enthusiast e in @ViewBag.ThisHobby.HobbyEnthusiasts)
                {
                    <tr>
                        <td>@e.UserWhoIsEnthused.FirstName</td>
                        <td>@e.EnthusiastProficiency</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @if (!@ViewBag.SignedUp)
        {
            <h3>Become an Enthusiast!</h3>
            <partial name="EnthusiastFormPartial" />
        }
    </div>
</div>
